.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url("https://www.wearetriple.com/media/ngohm01h/ott-platforms-back-end-header.png?width=1440&height=860&rnd=132905249039670000"); 
  background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.form-inline{
  border-radius: 5px;
    -webkit-box-shadow: 0 0 10px 0 rgba(43, 43, 43, 0.678), 0 11px 6px -7px rgba(22, 22, 22, 0.664);
   border: none;
   font-weight: 5px bold;
   font-family: cursive;
    background-color: rgb(59, 56, 56);
    margin-bottom: 2px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding:10px;
    background: rgba(84, 82, 82, 0.416);
    box-shadow: 0 8px 6px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;
  overflow: hidden;        
}
.card {
  transition: transform 0.3s; 
}

.card:hover {
  transform: scale(1.05);
}
